<nav class="navbar navbar-expand-lg navbar-dark tw-nav">
    <div class="container">
        <a class="navbar-brand fw-bold tw-brand" href="/"><i class="bi bi-balloon-heart-fill"></i> ToyWorld <i class="bi bi-stars text-warning"></i></a>
        <ul class="navbar-nav ms-auto flex-row gap-2">
            <li><NavLink class="nav-link tw-link" href="/" Match="NavLinkMatch.All"><i class="bi bi-house-fill"></i> Главная</NavLink></li>
            <li><NavLink class="nav-link tw-link" href="/products"><i class="bi bi-puzzle"></i> Игрушки</NavLink></li>
            <li><NavLink class="nav-link tw-link" href="/cart"><i class="bi bi-basket3-fill"></i> Корзина</NavLink></li>
            <li><NavLink class="nav-link tw-link" href="/orders"><i class="bi bi-emoji-smile"></i> Заказы</NavLink></li>
        </ul>
    </div>
</nav>